.C_NavLinks_Main {
    display: inline-flex;
    align-items: center;
    gap: 34px;
}

.C_SocialIcons {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.C_All_Cuisine_Tag_Row {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.C_Tag_Info_Line {
    box-sizing: border-box;
    display: flex;
    max-width: 284px;
    gap: 20px;
}

.C_Recipes_Row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;

    a{
        text-decoration: none;
      }
}