.C_NavLinks_Main {
    display: inline-flex;
    align-items: center;
    gap: 34px;

    @media (max-width: 440px) {
        display: none;
    }
}

.C_SocialIcons {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.C_All_Cuisine_Tag_Row {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media (max-width: 440px) {
        justify-content: flex-start;
        margin: 0;
        gap: 6px;
    }
}

.C_Tag_Info_Line {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.C_Recipes_Row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;

    a{
        text-decoration: none;
      }
}

.C_Ingredients_List {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.C_Recipe_Step_List {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.C_Hack_Line_List {
    list-style-type: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.C_Button_Line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.C_Creators {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.C_Autors,
.C_Curators {
    display: flex;
    align-items: center;
    gap: 24px;

    .A_Text_NavLink {
        color: white;
    }

    @media (max-width: 440px) {
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.C_Autors_line,
.C_Curators_line {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    @media (max-width: 440px) {
        gap: 8px;
        flex-direction: column;

    }
}