@font-face {
	font-family: 'MV-WEEKEND';
	src: url(../fonts/MV-WEEKEND.otf);
}
@font-face {
	font-family: 'Inter-Regular';
	font-weight: 400;
	src: url(../fonts/Inter-Regular.otf);
}
@font-face {
	font-family: 'Inter-Medium';
	font-weight: 500;
	src: url(../fonts/Inter-Medium.otf);
}
@font-face {
	font-family: 'Inter-Bold';
	font-weight: 700;
	src: url(../fonts/Inter-Bold.otf);
}
