.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #d71823;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #d71823;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu-list {
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 100px 36px;
  margin: 0;
  background: #F5F5F7;
  list-style-type: none;
  transform: translateX(100%);
  transition: .3s;
  width: 276px;
  height: 100vh;
}
.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}


.first_screen_logo {
  width: 550px;
  margin-bottom: 40px;
}
.first_screen_subtitle {
  font-size: 30px;
  width: 40%;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second_screen {
  position: relative;
  padding: 150px 50px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  h1 {
    text-align: center;
  }
}

.second_screen_tracery {
  position: absolute;
  background-image: url('../images/foliage_tracery.svg');
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  height: 40px;

  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    bottom: 0;
    transform: rotate(180deg);
  }
}



.article_cards {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  .card {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #fbe8e9;
    text-decoration: none;
    width: calc(100% / 3);
  }
  .card_article_heading {
    width: 389px;
    .keywords {
      margin-top: 8px;
    }
  }
  .card_description {
    margin-top: 24px;
  }
}

.test_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 56px 50px 0;
  gap: 20px;
  .card {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #fbe8e9;
    display: flex;
    gap: 20px;
    text-decoration: none;
    &:nth-of-type(2) {
      flex-direction: row-reverse;
    }
    .test_text {
      width: 65%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card_test_image {
      background-repeat: no-repeat;
      object-fit: cover;
      height: 200px;
      width: 50%;
    }
  }
}

.footer_social_icons {
    display: flex;
    gap: 32px;
    .tg,
    .vk {
      width: 25px;
      height: 25px;
      fill: white;
      text-decoration: none;
      &:hover {
        opacity: 80%;
      }
    }
}
