body {
	background-color: #fff9f3;
}

h1 {
	font-family: 'Oranienbaum', serif;
	font-size: 60px;
	color: #1d1b1b;
	line-height: normal;
	text-transform: uppercase;
}
h2 {
	font-family: 'Oranienbaum', serif;
	font-size: 40px;
	color: #1d1b1b;
	line-height: normal;
	text-transform: uppercase;
}
h3 {
	font-family: 'Oranienbaum', serif;
	font-size: 24px;
	color: #1d1b1b;
	line-height: normal;
	text-transform: uppercase;
}
p {
	font-family: 'Journal Sans';
	font-size: 16px;
	color: #1d1b1b;
	line-height: normal;
}
